BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

ColumnLimit: 0

BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: false

BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

AllowShortFunctionsOnASingleLine: All

AllowShortBlocksOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortCompoundRequirementOnASingleLine: true

BinPackArguments: false
BinPackParameters: false

# FIXES HERE
PackConstructorInitializers: CurrentLine
ConstructorInitializerAllOnOneLineOrOnePerLine: false

IndentAccessModifiers: false
AccessModifierOffset: -4

IndentCaseLabels: true
IndentCaseBlocks: true

ReflowComments: false
SortIncludes: Never

PointerAlignment: Left
ReferenceAlignment: Left

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2

AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None

AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
AlignArrayOfStructures: None

SpaceBeforeParens: ControlStatements
SpaceBeforeCpp11BracedList: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

CompactNamespaces: false
FixNamespaceComments: false
